<nav class="footer-nav">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i class="bi bi-house"></i>
    Accueil
  </a>
  <a routerLink="/store" routerLinkActive="active">
    <i class="bi bi-shop"></i>
    Magasins
  </a>
  <a routerLink="/cart" routerLinkActive="active">
    <i class="bi bi-cart"></i>
    Panier
  </a>
  <a routerLink="/your-order" routerLinkActive="active">
    <i class="bi bi-box-seam"></i>
    Commandes
  </a>
  <a routerLink="/profile" routerLinkActive="active">
    <i class="bi bi-person-fill"></i>
    Profil
  </a>
</nav>
